/* css index */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(235, 225, 225);
}
ul, ol{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
/*Header*/
.header-main-container {
    color: black;
    width: 100%;
}
.header-sub-container{
    width: 100%;
}
header .buscador-log-register{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
header .login-reg{
    display: flex;
}
header .login-reg li{
    text-decoration: none;
    margin: 0px 10px;
}
header .logo{
    display: flex;
    justify-content: center;
}
header img {
    width: 180px;
    border-radius: 100%;
    margin-bottom: 20px;
}
header .menu-principal {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
header .menu-principal li {
    padding: 20px;
    background-color: rgb(248, 216, 221);
    margin: 20px 10px;
    width: 15%;
    text-align: center;
    border-radius: 5px;
}
header a {
    text-decoration: none;
    color: black;
    width: 15%;
}
/*Body*/
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo-principal{
    display: flex;
    justify-content: center;
}
#home article {
    width: 28%;
    background-color: rgb(248, 216, 221);
    margin-bottom: 20px;
    border-radius: 20px;
}

#home section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
}
#article-recipes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#home #recipes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
article img {
    width: 80%;
    border-radius: 15%;
    padding: 20px;
    display: flex;
    align-items: center;
}

#home article div {
    padding-left: 20px;
    padding-bottom: 20px;
}

/*Footer*/
footer{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgb(248, 216, 221);
    color: black;
}
footer p {
    color: black;
}
.footer-main{
    width: 100%;
}
.footer-main p{
    padding: 10px;
}


/* css detalle */

#detalle-receta {
    display: flex;
    justify-content: space-around;
}

#detalle-receta img, #detalle-receta div {
    width: 40%;
}

#detalle-receta div {
    display: flex;
    flex-direction: column;
}