/* Estilos generales */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(235, 225, 225);
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
input, button{
    font-family: "Quicksand", sans-serif;
}
/* CSS INDEX*/
/*Header*/
.header-main-container {
    color: black;
    width: 100%;
}
.buscador-receta-index form{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    margin-right: 30px;
}
.buscador-receta-index form input{
    margin-right: 10px;
}
.buscar-boton{
    align-self: center;

}
.campo-mensaje{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.invalid-busqueda {
    display: none;
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
.logo-header{
    display: flex;
    justify-content: center;
}
.logo-header img {
    width: 180px;
    border-radius: 100%;
}
header .menu-principal {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
header .menu-principal li {
    padding: 20px;
    background-color: rgb(248, 216, 221);
    margin: 20px 10px;
    width: 15%;
    text-align: center;
    border-radius: 5px;
}
header a {
    text-decoration: none;
    color: black;
    width: 15%;
}

/*Body*/

.titulo-index{
    display: flex;
    justify-content: center;
    font-size: 50px;
}
.container-recetas-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
}
#article-recipes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18%;
    background-color: rgb(248, 216, 221);
    margin: 10px;
    border-radius: 20px;
}
.imagenes-recipes {
    width: 85%;
    border-radius: 15%;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.titulo-receta{
    font-size: 20px;
    text-align: center;
    padding: 5px;
}
.dificultad-receta, .detalle-receta{
    font-size: 16px;
    padding: 5px;
}
.detalle-receta{
    margin-bottom: 15px;
    text-decoration: underline;
}

/*Footer*/
footer{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgb(248, 216, 221);
    color: black;
}
footer p {
    color: black;
}
.footer-main{
    width: 100%;
}
.footer-main p{
    padding: 10px;
}

/* CSS RECETA */
#titulo-detalle-receta{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 40px;
  }
  .detalle-receta-article{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  .caja-detalle-receta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(169, 166, 166);
    background-color: rgb(248, 216, 221);
    border-radius: 10px;
    width: 60%;
  }
  .caja-detalle-receta p, .detalle-receta-instrucciones{
    color: rgb(92, 91, 91);
  }
  .detalle-receta-img{
    width: 50%;
    padding: 20px;
    border-radius: 10%;
  }
  .detalle-receta-subtitulo{
    font-size: 40px;
  }
  .detalle-receta-tiempo{
    padding: 10px;
  }
  .receta-instrucciones-titulo, .receta-categorias-titulo{
    font-size: 30px;
    padding: 10px;
  }
  .receta-categorias-lista{
    padding-bottom: 5px;
  }
  .receta-categorias{
    text-decoration: underline;
    color: rgb(92, 91, 91);
  }

  /* CSS CATEGORIES */
.categorias-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .categorias-cajas{
    display: flex;
    background-color: rgb(248, 216, 221);
    padding: 3%;
    margin: 2%;
    border: 1px solid rgb(169, 166, 166);
    width: 15%;
    border-radius: 5%;
  }
  .categorias-opciones{
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    color: rgb(98, 96, 96);
  }
  
/* CSS LOGIN Y REGISTRO */
.form-container-titulo{
    text-align: center;
    font-size: 40px;
    margin-bottom: 15px;
}
.form-container-article{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.form-container-caja{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 30%; 
    background-color: rgb(211, 200, 201);
    padding: 20px;
    border-radius: 10px;
}
form label{
    padding-right: 5px;
}
form input{
    padding: 5px;
}
#email, #password{
    width: 100%;
}
.form-container-email, .form-container-password, .remember-me{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
}
.caja-boton-login, .caja-boton-registro, .form-sin-cuenta, .form-con-cuenta{
    display: flex;
    justify-content: center;
}
.form-sin-cuenta, .form-con-cuenta{
    text-decoration: underline;
    padding: 10px;
}
.boton-registro, .boton-login{
    font-size:14px;
    background-color: rgb(169, 166, 166);
    border: 1px solid rgb(169,166,166);
    color:white;
    width: 60%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;
}