/* Estilos generales */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(235, 225, 225);
}
ul, ol{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
input, button{
    font-family: "Quicksand", sans-serif;
}

/*Header*/
.header-main-container {
    color: black;
    width: 100%;
}
.buscador-receta-index form{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    margin-right: 30px;
}
.buscador-receta-index form input{
    margin-right: 10px;
}
.buscador-receta-index form button{
    align-self: flex-start;
}
.campo-mensaje{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.invalid-busqueda {
    display: none;
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
.logo-header{
    display: flex;
    justify-content: center;
}
.logo-header img {
    width: 180px;
    border-radius: 100%;
}
header .menu-principal {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
header .menu-principal li {
    padding: 20px;
    background-color: rgb(248, 216, 221);
    margin: 20px 10px;
    width: 15%;
    text-align: center;
    border-radius: 5px;
}
header a {
    text-decoration: none;
    color: black;
    width: 15%;
}
/*Body*/
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo-principal{
    display: flex;
    justify-content: center;
}

.container-recetas-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
}
#article-recipes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%;
    background-color: rgb(248, 216, 221);
    margin: 20px;
    border-radius: 20px;
}
.imagenes-recipes {
    width: 75%;
    border-radius: 15%;
    padding: 15px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.titulo-receta{
    font-size: 25px;
    padding: 5px;
}
.dificultad-receta, .detalle-receta{
    font-size: 18px;
    padding: 5px;
}
.detalle-receta{
    margin-bottom: 15px;
    text-decoration: underline;
}

/*Footer*/
footer{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgb(248, 216, 221);
    color: black;
}
footer p {
    color: black;
}
.footer-main{
    width: 100%;
}
.footer-main p{
    padding: 10px;
}

/* CSS LOGIN Y REGISTRO */
.form-container-titulo{
    text-align: center;
    font-size: 40px;
}
.form-container-article{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container-caja{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 30%; 
    background-color: rgb(211, 200, 201);
    padding: 20px;
    border-radius: 10px;
}


.access-form label{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-flex;
}

.access-form button{
    font-size:16px;
    background-color: rgb(169, 166, 166);
    border: 1px solid rgb(169,166,166);
    color:white;
    width: 40%;
    padding: 8px 14px;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;
}

.botones{
    display: flex;
    justify-content: space-around;
}
.remember-me{
    text-align: center;
}
.remember-me input{
    width:auto;
}